<!-- ========== MAIN CONTENT ========== -->
<main id="content">
    <!-- Hero Section -->
    <div class="bg-img-hero text-center mb-5 mb-lg-8" style="background-image: url(../../assets/img/1920x400/img3.jpg);">
        <div class="container space-top-xl-3 py-6 py-xl-0">
            <div class="row justify-content-center py-xl-4">
                <!-- Info -->
                <div class="py-xl-10 py-5">
                    <h1 class="font-size-40 font-size-xs-30 text-white font-weight-bold mb-0">Terms And Condition</h1>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb breadcrumb-no-gutter justify-content-center mb-0">
                        <li class="breadcrumb-item font-size-14"><a class="text-white" href="../home/index.html">Home</a></li>
                        <li class="breadcrumb-item custom-breadcrumb-item font-size-14 text-white active" aria-current="page">FAQs</li>
                      </ol>
                    </nav>
                </div>
                <!-- End Info -->
            </div>
        </div>
    </div>
    <!--End Hero Section -->
    <div class=" terms_tab border-bottom border-color-8 pt-lg-1">
        <div class="container mb-4 mb-lg-11 pb-lg-1">
            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <div class="py-4 border border-color-7 rounded-xs mb-4 mb-md-0">
                        <h6 class="text-gray-6 font-weight-bold font-size-17 px-4 ml-xl-1 mt-xl-1 mb-4 pb-1">Navigation</h6>
                        <!-- Tab Wrapper -->
                        <div class="tab-wrapper shadow-none">
                            <ul class="nav flex-column mb-0 tab-nav-list" id="pills-tab" role="tablist">
                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center active" id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab" aria-controls="pills-one-example1" aria-selected="true">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal ml-1 text-gray-1">All</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1" role="tab" aria-controls="pills-two-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Features</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-three-example1-tab" data-toggle="pill" href="#pills-three-example1" role="tab" aria-controls="pills-three-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Sliders</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-four-example1-tab" data-toggle="pill" href="#pills-four-example1" role="tab" aria-controls="pills-four-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Terms and Condition</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-five-example1-tab" data-toggle="pill" href="#pills-five-example1" role="tab" aria-controls="pills-five-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Address & Map</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-six-example1-tab" data-toggle="pill" href="#pills-six-example1" role="tab" aria-controls="pills-six-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Reservation Requests</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-seven-example1-tab" data-toggle="pill" href="#pills-seven-example1" role="tab" aria-controls="pills-seven-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Your Reservations</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-eight-example1-tab" data-toggle="pill" href="#pills-eight-example1" role="tab" aria-controls="pills-eight-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Search Results</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-nine-example1-tab" data-toggle="pill" href="#pills-nine-example1" role="tab" aria-controls="pills-nine-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Color Schemes</span>
                                    </a>
                                </li>

                                <li class="nav-item mx-0 mb-2 pb-1">
                                    <a class="nav-link px-4 d-flex align-items-center" id="pills-ten-example1-tab" data-toggle="pill" href="#pills-ten-example1" role="tab" aria-controls="pills-ten-example1" aria-selected="false">
                                        <i class="fas fa-chevron-right font-size-12 mr-1 text-gray-3"></i>
                                        <span class="font-weight-normal text-gray-1 ml-1">Responsiveness</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab Content -->
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">All</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Features</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-three-example1" role="tabpanel" aria-labelledby="pills-three-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Sliders</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-four-example1" role="tabpanel" aria-labelledby="pills-four-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Terms and Condition</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-five-example1" role="tabpanel" aria-labelledby="pills-five-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Address & Map</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-six-example1" role="tabpanel" aria-labelledby="pills-six-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Reservations Requests</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-seven-example1" role="tabpanel" aria-labelledby="pills-seven-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Your Reservations</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-eight-example1" role="tabpanel" aria-labelledby="pills-eight-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Search Results</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-nine-example1" role="tabpanel" aria-labelledby="pills-nine-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Color Schemes</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-ten-example1" role="tabpanel" aria-labelledby="pills-ten-example1-tab">
                            <h4 class="text-size-21 font-weight-semi-bold text-gray-3 mb-3 pb-1">Responsiveness</h4>
                            <p class="text-lh-lg text-gray-1">Searcys St Pancras' adored Champagne bar is famously the longest in Europe. Here, guests can enjoy panoramic views of the magnificent station. For those looking to enjoy a glass of something special, the menu showcases a variety of Champagne and sparkling wines from around the world, including nine options by the glass. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa,a consequat purus viverra</p>
                            <h4 class="font-size-16 font-weight-semi-bold">Our Terms</h4>
                            <p class="text-lh-lg text-gray-1">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy,
                            my dear friend, so absorbed in the exquisite.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>